[submodule "resources/nlp-progress"]
	path = resources/nlp-progress
	url = https://github.com/sebastianruder/NLP-progress.git
[submodule "resources/deeplearning-models"]
	path = resources/deeplearning-models
	url = https://github.com/rasbt/deeplearning-models.git
[submodule "resources/funNLP"]
	path = resources/funNLP
	url = https://github.com/fighting41love/funNLP.git
